body.text-center > div.cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column > header.masthead.mb-auto {
    margin-bottom: 200px !important;
}

.body-result {
    min-height: 75rem;
    padding-top: 4.5rem;
}

.title-result {
    font-weight: bold;
    margin-bottom: 40px;
}

.btn-logout {
    margin-top: 80px;
}

.display-4 {
    margin-bottom: 40px;
}

.btn-favorite {
    float: right;
    position: relative;
    height: 50px;
}

.title-movie {
    font-weight: bold;
    font-size: 50px;
}

.content-movie {
    margin-top: 20px;
    margin-bottom: 40px;
}

.comments-movie {
    margin-bottom: 40px;
}

